ul {
    list-style-type: none;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

li {
    margin-bottom: 10px;
    padding: 0;
}
h1 {
  font-family: 'Merriweather', Georgia, serif;
}


.fancy-text {
  font-family: 'Merriweather', Georgia, serif;
}

.fancy-text2 {
  font-family: 'Merriweather', Times New Roman, serif;
}

.gap {
    margin-top: 30px;
}

.container {
    margin-left: 130px  ;
    margin-top: 40px;
}

#linkedin-icon {
    width: 21px;
    height: 21px;
}

.link {
    text-decoration: none; 
    color: black;
}

.section {
    margin-top: 25px;
}

.icon {
    height: 1em;
    width: auto;
    vertical-align: middle;
}